.transactionHistory {
    margin: 20px auto;
    table-layout: fixed;
        width: 600px;
        border-collapse: collapse;
        border: 1px solid darkgray;
}

thead {
    width: 33%;
}

th,
td {
    padding: 10px;
}

thead th {
    font-size: 18px;
    font-weight: 500;
    background-color: teal;
}

tbody td {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}

tbody tr:nth-child(even) {
    background-color: gray;
}